@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');


*{
  background-color: #FAF4F1;
  font-family: 'Gochi Hand', cursive;
  font-size: 110%;
}

img{
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.todo{
  margin: 2.5%;
  padding: 2.5%;
  background-color: #F8F0EC;
  border-style: solid;
  border-color: #E5C8B7;
  border-width: thin;
  border-radius: 10px/10px;
}

.todo *{
  background-color: inherit;
}

.lugarfav iframe{
  width: 100%;
}

.musica, .lugarfav,.tituloYnombre, .enviar{
  text-align: center; 
}

.enviar{
  display: block;
}

progress::-webkit-progress-value {
  background-color: #b9a779;
}

.elemento{
  margin: 0.5% 2.5%;
  padding: 0.5% 2.5%;
}

.cuadro{
  width: 50%;
  height: 100%;
}

footer{
  margin: 0.5% 2.5%;
  text-align: right;
  font-size: 75%;
}

.tituloYnombre, .foto, .info, .futuro, .formulario{
  padding-top: 2%;
  padding-bottom: 2%;
}

.formlin{
  border-style:dotted;
  border-width: 10%;
}

p{
  margin: 0%;
}