.fa:hover {
    opacity: 0.9;
}

.fa-linkedin {
    background: rgb(192, 192, 192);
    color: white;
}

.fa-facebook {
    background: rgb(192, 192, 192);
    color: white;
}


.fa-pinterest {
    background: rgb(192, 192, 192);
    color: white;
}

.fa-reddit {
    background: rgb(192, 192, 192);
    color: white;
}

.fa-instagram {
    background: rgb(192, 192, 192);
    color: white;
}

.fa-youtube {
    background: rgb(192, 192, 192);
    color: white;
}

.fa-github {
    background: rgb(192, 192, 192);
    color: white;
}

.fa-spotify {
    background: rgb(192, 192, 192);
    color: white;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-decoration: none;
    text-align: center;
}

.redes{
    text-align: center;
}