@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

*, *:before, *::after{
  box-sizing: border-box;
}

*{
  font-family: 'Hubballi', cursive;
  font-size: 105%;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right '
    'menu footer footer footer footer footer';

  background-color: #ffffff;
  
}

.grid-container > div, .ite1 , .item2 {
  padding: 10px;
  margin: 10px;
}

a:hover {
  background-color: rgb(255, 255, 255);
}

a:link {
  color: rgb(0, 0, 0);
}

a:visited {
  color: rgb(0, 0, 0);
}

img{
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px/10px;
}

.lugarfav iframe{
  width: 35%;
  padding: 5% 0;
}

.musica, .lugarfav,.tituloYnombre, .enviar{
  text-align: center; 
}

.enviar{
  display: block;
}

progress::-webkit-progress-value {
  background-color: #ffffff;
}

.elemento{
  margin: 0.5% 2.5%;
  padding: 0.5% 2.5%;
}

.cuadro{
  width: 50%;
  height: 100%;
}

.tituloYnombre, .foto, .info, .futuro, .formulario{
  padding-top: 2%;
  padding-bottom: 2%;
}

.orcafond{
  background: initial;
  background-image: url(/imagenes/orquita.jpg);
  background-size: cover;
}

.enlacenavegacion{
  font-size: 120%;
  text-decoration: none;
}

.item1{
  background-color: rgb(192, 192, 192);
  display: flex;
  justify-content: space-around;
}

.videos{
  width: 100%;
  height: auto;
}