*, *:before, *::after{
  box-sizing: border-box;
}

*{
  font-family: 'Hubballi', cursive;
  font-size: 105%;
}

body{
  margin: 0%;
}

.item1 { grid-area: header; }
.item2 { grid-area: main; }
.item3 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main '
    'footer footer footer footer footer footer';

  background-color: #ffffff;
  
}

.item3, .item2 {
  padding: 10px;
  margin: 10px;
}

.item1 > span{
  padding-top: 1%;
  padding-bottom: 1%;
}

a:hover {
  background-color: rgb(255, 255, 255);
}

a:link {
  color: rgb(0, 0, 0);
}

a:visited {
  color: rgb(0, 0, 0);
}

img{
  display: block;
  width: 15%;
  margin-left: auto;
  margin-right: auto;

}

.musica, .lugarfav,.tituloYnombre, .enviar{
  text-align: center; 
}

.enviar{
  display: block;
}

progress::-webkit-progress-value {
  background-color: #ffffff;
}

.elemento{
  margin: 0.5% 2.5%;
  padding: 0.5% 2.5%;
}

.cuadro{
  width: 50%;
  height: 100%;
}

.tituloYnombre, .foto, .info, .futuro, .formulario{
  padding-top: .5%;
  padding-bottom: .5%;
}

.enlacenavegacion{
  font-size: 120%;
  text-decoration: none;
}

.item1{
  background-color: rgb(192, 192, 192);
  display: flex;
  justify-content: space-around;
}
